<nav class="navbar navbar-expand-sm bg-green-100">
    <div class="container">
        {% if not request.resolver_match.url_name == 'home' %}
            <a class="navbar-brand"
               href="{% url 'home' %}"
               aria-label="TheyWorkForYou Votes">TheyWorkFor<strong>You</strong> Votes</a>
        {% endif %}
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto flex-wrap justify-content-end">

                {% include 'votes/includes/nav-item.html' with name='decisions' label='Decisions' %}
                {% include 'votes/includes/nav-item.html' with name='people' label='People' url_param='all' %}
                {% include 'votes/includes/nav-item.html' with name='policies' label='Policies' %}
                {% include 'votes/includes/nav-item.html' with name='tag_home' label='Tags' %}
                {% if user.is_authenticated %}

                    {% include 'votes/includes/nav-item.html' with name='logout' label='Sign out' %}
                {% else %}

                    {% include 'votes/includes/nav-item.html' with name='login' label='Sign in' %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% if not request.resolver_match.url_name == 'home' %}
    <div class="bg-green-50">
        <div class ="container ">
            This site is in experimental release. Please report <a href="https://survey.alchemer.com/s3/8114572/TheyWorkForYou-Votes-issue-reporting">any issues on this form</a>.
        </div>
    </div>
{% endif %}
