{% extends "votes/base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet"
          type="text/x-scss"
          href="{% static 'css/home.scss' %}">
{% endblock %}

{% block content %}
    <div class="py-5 bg-green-100">
        <div class="container mt-n4">
            <h1 class="display-4 mb-3 fw-normal"
                style="font-family: 'Merriweather', serif;
                       font-weight:400">
                TheyWorkFor<strong>You</strong> Votes
            </h1>
            <p>
                <a href="{% url 'api-1.0.0:openapi-view' %}">API Docs</a>
            </p>
        </div>
    </div>
    <div class="homepage-map-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-5 pb-6">
                    <h2 class="mb-4 h1">Learn how your representatives vote</h2>
                    <p class="mb-4 fs-5">
                        TheyWorkForYou Votes is a new vote information platform created by <a href="https://www.mysociety.org/">mySociety</a>.
                    </p>
                    <p class="mb-4 fs-5">Our goal is to create and support better analysis of decisions taken in the UK's Parliaments.</p>
                    <p class="mb-4 fs-5">
                        We do this by improving the quality of publicly available information, and by providing new tools and data to specialists.
                    </p>
                    <p class="mb-4 fs-5">
                        This site supports and extends our work on <a href="https://www.theyworkforyou.com">TheyWorkForYou.com</a>.
                    </p>
                    <p class="mb-4 fs-5">
                        <a href="/help/about">Learn more about the service</a>
                    </p>
                </div>
                <div class="col-lg-6 pt-5 pb-6">
                    <h2 class="mb-4 h2">Explore</h2>
                    <ul>
                        <li>
                            <a class="page-scroll" href="{% url 'decisions' %}">Decisions</a> - Decisions made collectively in the UK's
                            Parliaments and Assemblies.
                        </li>
                        <li>
                            <a class="page-scroll" href="{% url 'policies' %}">Policies</a> - Grouping of decisions into related
                            policies.
                        </li>
                        <li>
                            <a class="page-scroll" href="{% url 'people' 'all' %}">People</a> - Members of the
                            UK's Parliaments and Assemblies.
                        </li>
                        <li>
                            <a class="page-scroll" href="{% url 'tag_home' %}">Tags</a> - Groups of decision by feature or legislation.
                        </li>
                    </ul>
                    <h2 class="mb-4 h2">Recent Commons votes</h2>
                    <ul>
                        {% for division in commons_votes %}
                            <li>
                                <a href="{{ division.url }}">{{ division.safe_decision_name|safe }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <h2 class="mb-4 h2">Latest by chamber</h2>
                    <ul>
                        {% for chamber, date in last_dates %}
                            {% if date %}
                                <li>
                                    <a href="{% url 'decisions_list' chamber.slug date.year %} ">{{ chamber.name }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
