{% extends "votes/base_with_menu.html" %}

{% block title %}{{ settings.site_name }}{% endblock %}

{% block content.title %}
    <h1 id="top-header">{{ person.name }} – Votes and party alignment</h1>
{% endblock content.title %}

{% block content.menu %}

    {% include 'votes/includes/_person_menu.html' with current_section='overview' %}
{% endblock content.menu %}

{% block content.inner %}
    {% style_df person.rebellion_rate_df "Party alignment" %}
{% endblock content.inner %}

{% block extracss %}
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
{% endblock extracss %}

{% block menujs.section %}
{% endblock menujs.section %}

{% block extrajs %}

    {% include 'votes/includes/_table_script.html' %}
{% endblock extrajs %}
