{% extends "votes/base_with_menu.html" %}

{% block title %}{{ settings.site_name }}{% endblock %}

{% block content.title %}
    <h1 id="top-header">{{ person.name }} – Votes and party alignment</h1>
{% endblock content.title %}

{% block content.menu %}
    <p>
        <a id="side-top-header"
           class="nav-link h6 pl-0 mb-0"
           href="#top"
           style="display:none">{{ person.name }}</a>
    </p>
    <li class="nav-item">
        <a class="nav-link h6 pl-0 mb-0 {% if person_view == 'overview' %}active{% endif %}"
           href="{% url 'person' person.id %}">Overview</a>
    </li>
    {% with person.policy_distribution_groups as pdg %}
        {% if pdg %}
            <li class="nav-item">
                <ul class="nav flex-column py-2 border-top my-2">
                    {% for record in person.policy_distribution_groups %}
                        <li class="nav-item" class="nav-item">
                            <a class="nav-link  h6 pl-0 mb-0"
                               href="{% url 'person_policy' person.id record.chamber.slug record.party_slug record.period.slug.lower %}">Voting summary – {{ record.party_name }} (Period: {{ record.period.description }})</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    {% endwith %}
{% endblock content.menu %}

{% block content.inner %}
    {% style_df person.rebellion_rate_df "Party alignment" %}
{% endblock content.inner %}

{% block extracss %}
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
{% endblock extracss %}

{% block menujs.section %}
{% endblock menujs.section %}

{% block extrajs %}

    {% include 'votes/includes/_table_script.html' %}
{% endblock extrajs %}
