{% extends "votes/base_with_menu.html" %}

{% block title %}{{ settings.site_name }}{% endblock %}

{% block content.title %}
    <h1 id="top-header">TheyWorkForYou Policies</h1>
{% endblock content.title %}

{% block content.menu %}
    <p>
        <a id="side-top-header"
           class="nav-link h6 pl-0 mb-0"
           href="#top"
           style="display:none">Policies – All</a>
    </p>
    {% for chamber in chambers %}
        <li class="nav-item">
            <a class="nav-link h6 pl-0 mb-0" href="#{{ chamber.slug }}">{{ chamber.name }}</a>
        </li>
    {% endfor %}
{% endblock content.menu %}

<h3>{{ chamber.name }}</h3>

{% block content.inner %}
    <p>Policies are collections of votes that are linked thematically.</p>
    <p>These power TheyWorkForYou’s voting records.</p>
    Status:
    <ul>
        <li>
            <b>ACTIVE</b> – Policies that are shown in TheyWorkForYou
        </li>
        <li>
            <b>CANDIDATE</b> – Policies that have in principle been approved, but need final wording checks and are not live
            yet.
        </li>
        <li>
            <b>DRAFT</b> – Incomplete policies that need more work to meet standards for publication.
        </li>
    </ul>
    {% for chamber in chambers %}
        <h2 class="section-header" id="{{ chamber.slug }}">
            {{ chamber.name }}
        </h3>
        <ul>
            {% for p in statuses %}
                <li>
                    <a href="{% url 'policy_collection' chamber.slug p 'all' %}">{{ p.name.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock content.inner %}
