{% extends "votes/base.html" %}

{% block content.inner %}
    {% if decision.decision_type == "Division" %}
        <h1>{{ decision.chamber.name }} - {{ decision.date }} - {{ decision.division_number }}</h1>
    {% elif decision.decision_type == "Agreement" %}
        <h1>{{ decision.chamber.name }} - {{ decision.date }} - {{ decision.decision_ref }}</h1>
    {% endif %}
    <div class="alert alert-secondary" role="alert">
        Something wrong on this page? <a href="https://survey.alchemer.com/s3/8114572/TheyWorkForYou-Votes-issue-reporting">Let us know!</a>
    </div>
    <h2>{{ decision.safe_decision_name|safe }}</h2>
    {% featureflag pg.ADVANCED_INFO %}
        <p>Decision Key: {{ decision.key }}</p>
    {% endfeatureflag %}
    <p>
        <a href="{{ decision.twfy_link }}">View decision in TheyWorkForYou</a>
    </p>
    <h2>Result</h2>
    {% if decision.decision_type == "Agreement" %}
        {% if decision.negative %}
            <p>❌Motion rejected without vote.</p>
        {% else %}
            <p>✅Motion approved without vote.</p>
        {% endif %}
    {% elif decision.decision_type == "Division" %}
        {% with decision.overall_breakdowns.first.motion_result as mr %}
            {% if mr == "Success" %}
                <p>✅Motion passed.</p>
            {% elif mr == "Failure" %}
                <p>❌Motion failed.</p>
            {% elif mr == "Tie" %}
                <p>🤝Motion tied (failed).</p>
            {% endif %}
        {% endwith %}

        {% include 'votes/includes/division_dots.html' %}
        <h3>Parliamentary analysis</h3>

        {% include 'votes/includes/division_clusters.html' %}
    {% endif %}
    {% if decision.motion %}
        <h2>Motion</h2>
        {% featureflag pg.ADVANCED_INFO %}
            <p>Motion GID: {{ decision.motion.gid }}</p>
        {% endfeatureflag %}
        <p class = "motion_type">
            Motion type: {{ decision.motion.motion_type_nice }}(<a href="{% url 'help' 'motion_types' %}#{{ decision.motion.motion_type|replace_underscore_with_hyphen }}">?</a>)
        </p>
        {% featureflag pg.ADVANCED_INFO %}
            <p class = "motion_type">
                Uses Parliamentary powers:
                {% with decision.motion.motion_uses_powers.simple as sp %}
                    {% if sp == True %}
                        Yes
                    {% elif sp == False %}
                        No
                    {% elif sp == None %}
                        Unknown
                    {% endif %}
                {% endwith %}
            </p>
        {% endfeatureflag %}
        <div class = "motion_text">
            <p>{{ decision.motion.nice_html|safe }}</p>
        </div>
        <p>
            <a href="{{ decision.motion_speech_url }}">Motion in TheyWorkForYou</a>
        </p>
    {% endif %}
    {% with decision.get_annotations as annotations %}
        {% if annotations or can_add_annotations %}
            <h2>Annotations</h2>
            <ul>
                {% for annotation in annotations %}<li>{{ annotation.html|safe }}</li>{% endfor %}
            </ul>
            {% if can_add_annotations %}
                {% if decision.decision_type == "Division" %}
                    <p>
                        <a href="{% url 'forms' 'division_annotation' decision.id %}">Add an annotation</a>
                    </p>
                {% elif decision.decision_type == "Agreement" %}
                    <p>
                        <a href="{% url 'forms' 'agreement_annotation' decision.id %}">Add an annotation</a>
                    </p>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endwith %}
    {% if decision.decision_type == "Division" %}
        {% with decision.whip_report_df as whip_report_df %}
            {% if whip_report_df is not None or can_report_whip or can_report_self_whip %}
                <h2>Whip reports</h2>
                {% if whip_report_df is not None %}
                    {% style_df whip_report_df %}
                {% endif %}
                {% if can_report_whip %}
                    <p>
                        <a href="{% url 'forms' 'whip' decision.id %}">Report whip info</a>
                    </p>
                {% elif can_report_self_whip %}
                    <p>
                        <a href="{% url 'forms' 'rep_whip' decision.id %}">Report your whip</a>
                    </p>
                {% endif %}
            {% endif %}
        {% endwith %}
    {% endif %}
    {% if relevant_policies %}
        <h2>Policies</h2>
        <p>This decision is part of the following policies:</p>
        <ul>
            {% for policy in relevant_policies %}
                <li>
                    <a href="{{ policy.url }}">{{ policy.name }} ({{ policy.status }})</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if decision.decision_type == "Division" %}
        <h2>Voting breakdown</h2>
        {% style_df decision.gov_breakdown_df "For motion percentage" "Turnout" %}
        <h2>Party voting breakdown</h2>
        {% style_df decision.party_breakdown_df "For motion percentage" "Party turnout" %}
        <h2>Voting list</h2>
        {% if can_add_annotations %}
            <p>
                <a href="{% url 'forms' 'open_rep_annotation' decision.id %}">Add a vote annotation</a>
            </p>
        {% elif can_add_self_annotations %}
            <p>
                <a href="{% url 'forms' 'rep_annotation' decision.id %}">Add your vote annotation</a>
            </p>
        {% endif %}
        {% style_df decision.votes_df "Party alignment" %}
    {% elif decision.decision_type == "Agreement" %}
        {% featureflag pg.ADVANCED_INFO %}
            <h2>Membership list</h2>
            <div class="alert alert-warning" role="alert">
                <p>
                    This decision was made without a vote, so there is no voting list. The following is a list of people who were {{ decision.chamber.member_plural }} at the time of the decision.
                </p>
                <p>
                    It shouldn't be taken as given that all of these people would have voted in favour of the motion, or that they were present.
                </p>
                <p>This is included for transparency on the small number of agreements we include in voting summaries.</p>
            </div>
            {% style_df decision.votes_df %}
        {% endfeatureflag %}
    {% endif %}
{% endblock content.inner %}

{% block extracss %}
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
{% endblock extracss %}

{% block extrajs %}
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function() {
            $('table').DataTable({
                paging: false
            });
        });
    </script>
{% endblock extrajs %}
