{% extends "votes/base.html" %}

{% block innercontent %}
    <h1>Decisions in {{ search.chamber.name }}</h1>
    <p>{{ search.decisions|length }} decisions from {{ search.start_date }} to {{ search.end_date }}</p>
    {% regroup search.decisions by date.month as decisions_by_date %}
    {% for month, month_decisions in decisions_by_date %}
        <h2>{{ month|month_name }}</h2>
        <p>
            <a href="{% url 'decisions_list_month' search.chamber.slug month_decisions.0.date.year month_decisions.0.date.month %}">View
                as
            table</a>
        </p>
        <ul>
            {% for division in month_decisions %}
                <li>
                    {{ division.date|date:"j M" }} - <a href="{{ division.url }}">{{ division.division_name|safe }}</a>
                    {% if division.overall_breakdowns.first.motion_result_int == 1 %}
                        ✔️
                    {% else %}
                        ❌
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock innercontent %}
