{% extends "votes/base.html" %}

{% block content.inner %}
    {% if decision.decision_type == "Division" %}
        <h1>{{ decision.chamber.name }} - {{ decision.date }} - {{ decision.division_number }}</h1>
    {% elif decision.decision_type == "Agreement" %}
        <h1>{{ decision.chamber.name }} - {{ decision.date }} - {{ decision.decision_ref }}</h1>
    {% endif %}
    <h2>{{ decision.safe_decision_name|safe }}</h2>
    <p>
        <a href="{{ decision.twfy_link }}">View decision in TheyWorkForYou</a>
    </p>
    <div class="alert alert-secondary" role="alert">
        Something wrong on this page? <a href="https://survey.alchemer.com/s3/8114572/TheyWorkForYou-Votes-issue-reporting">Let us know!</a>
    </div>
    {% if decision.motion %}
        <h2>Motion</h2>
        {% featureflag "advanced_info" %}
            <p>Motion ID: {{ decision.motion.id }}</p>
        {% endfeatureflag %}
        <p>
            <a href="{{ decision.motion_speech_url }}">Motion in TheyWorkForYou</a>
        </p>
        <p class = "motion_type">
            Motion type: {{ decision.motion.motion_type_nice }}(<a href="{% url 'help' 'motion_types' %}#{{ decision.motion.motion_type|replace_underscore_with_hyphen }}">?</a>)
        </p>
        <p class = "motion_type">
            Uses Parliamentary powers:
            {% with decision.motion.motion_uses_powers.simple as sp %}
                {% if sp == True %}
                    Yes
                {% elif sp == False %}
                    No
                {% elif sp == None %}
                    Unknown
                {% endif %}
            {% endwith %}
        </p>
        <div class = "motion_text">
            <p>{{ decision.motion.nice_html|safe }}</p>
        </div>
    {% endif %}
    <h2>Result</h2>
    {% if decision.decision_type == "Agreement" %}
        {% if decision.negative %}
            <p>❌Motion rejected without vote.</p>
        {% else %}
            <p>✅Motion approved without vote.</p>
        {% endif %}
    {% elif decision.decision_type == "Division" %}
        {% with decision.overall_breakdowns.first.motion_result as mr %}
            {% if mr == "Success" %}
                <p>✅Motion passed.</p>
            {% elif mr == "Failure" %}
                <p>❌Motion failed.</p>
            {% elif mr == "Tie" %}
                <p>🤝Motion tied (failed).</p>
            {% endif %}
        {% endwith %}
    {% endif %}
    {% if decision.decision_type == "Division" %}
        <h2>Parliamentary dynamics</h2>
        {% with decision.voting_cluster as dc %}
            <strong>{{ dc.desc }}</strong>
            {% with dc.tag as vc_tag %}
                {% if vc_tag == "opp_strong_aye_gov_strong_no" %}
                    {% markdown %}
                        This vote is most similar to a group of votes where the opposition has proposed a motion and the government is strongly opposing it (few defections, high turnout).
                        This usually suggests an important point of principle, or that it would have substantive effects if passed.
                    {% endmarkdown %}
                {% elif vc_tag == "gov_strong_aye_opp_strong_no" %}
                    {% markdown %}
                        This vote is most similar to a group of votes where the government is proposing a motion and the opposition is strongly opposing it (few defections, high turnout).
                        This usually suggests an important point of principle, that even if the government is likely to win, is a significant public signal of opposition.
                    {% endmarkdown %}
                {% elif vc_tag == "gov_aye_opp_lean_no" %}
                    {% markdown %}
                        This vote is most similar to a group of votes where the government is proposing a motion,
                        but there is division among opposition MPs/parties in opposing it (but generally, leaning against).
                    {% endmarkdown %}
                {% elif vc_tag == "opp_aye_weak_gov_no" %}
                    {% markdown %}
                        This vote is most similar to a group of votes where the motion is proposed by the opposition, the
                        result is quite polarized, but there is a medium level of participation (most MPs, but not all).
                        This usually reflects votes it would be embarrassing for the government to lose, but is not a major flashpoint.
                    {% endmarkdown %}
                {% elif vc_tag == "gov_aye_opp_weak_no" %}
                    {% markdown %}
                        This vote is most similar to a group of votes where the government is proposing a motion,
                        but opposition is less strongly opposing it (higher numbers of absences).
                        This can reflect different views between opposition parties - where at least one party
                        neither wants to be on the record as voting for or against.
                    {% endmarkdown %}
                {% elif vc_tag == "gov_no_opp_lean_no" %}
                    {% markdown %}
                        This vote is most similar to a group of votes where the government is voting against a motion, and opposition MPs/parties are divided in their support.
                        This can reflect an amendment or motion bought by one opposition party, which other opposition parties are not supportive of.
                    {% endmarkdown %}
                {% elif vc_tag == "low_participation" %}
                    {% markdown %}
                        This vote is most similar to a group of votes where there is low participation from both sides.
                        This might be non-contentious or procedural motions in the early stages of member proposed bills.
                    {% endmarkdown %}
                {% elif vc_tag == "cross_party_aye" %}
                    {% markdown %}
                        This vote is most similar to a group of votes where there is a cross party consensus in favour of a motion.
                        There may be scattered opposition (which is why a vote is being held at all), but it does not break down clearly along government/opposition lines.
                    {% endmarkdown %}
                {% endif %}
            {% endwith %}
        {% endwith %}
    {% endif %}
    {% if relevant_policies %}
        <h2>Policies</h2>
        <p>This decision is part of the following policies:</p>
        <ul>
            {% for policy in relevant_policies %}
                <li>
                    <a href="{{ policy.url }}">{{ policy.name }} ({{ policy.status }})</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if decision.decision_type == "Division" %}
        <h2>Voting breakdown</h2>
        {% style_df decision.gov_breakdown_df "For motion percentage" "Turnout" %}
        <h2>Party voting breakdown</h2>
        {% style_df decision.party_breakdown_df "For motion percentage" "Party turnout" %}
        <h2>Voting list</h2>
        {% style_df decision.votes_df "Party alignment" %}
    {% elif decision.decision_type == "Agreement" %}
        {% featureflag "advanced_info" %}
            <h2>Membership list</h2>
            <div class="alert alert-warning" role="alert">
                <p>
                    This decision was made without a vote, so there is no voting list. The following is a list of people who were {{ decision.chamber.member_plural }} at the time of the decision.
                </p>
                <p>
                    It shouldn't be taken as given that all of these people would have voted in favour of the motion, or that they were present.
                </p>
                <p>This is included for transparency on the small number of agreements we include in voting summaries.</p>
            </div>
            {% style_df decision.votes_df %}
        {% endfeatureflag %}
    {% endif %}
{% endblock content.inner %}

{% block extracss %}
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
{% endblock extracss %}

{% block extrajs %}
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function() {
            $('table').DataTable({
                paging: false
            });
        });
    </script>
{% endblock extrajs %}
