{% extends "votes/base.html" %}

{% block content.inner %}
    <h1>{{ form.title }}</h1>
    <p>{{ form.desc }}</p>
    <p>
        {{ decision.chamber.name }} {{ decision.decision_type }}: <a href="{{ decision.url }}">{{ decision.safe_decision_name }}</a>.
        {% if form.errors %}<div class="alert alert-danger" role="alert">{{ form.errors }}</div>{% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {% endblock content.inner %}
