{% extends "votes/base.html" %}

{% block title %}{{ settings.site_name }}{% endblock %}

{% block content.inner %}
    <h1>{{ person.name }}</h1>
    <h2>Options</h2>
    <ul>
        <li>
            <a href="{% url 'person_votes' person.id 'all' %}">All recorded votes.</a>
        </li>
        {% for record in person.policy_distribution_groups %}
            <li>
                <a href="{% url 'person_policy' person.id record.chamber.slug record.party.slug record.period.slug.lower %}">Voting
                record comparison with {{ record.party.name }} (Period: {{ record.period.description }})</a>
            </li>
        {% endfor %}
    </ul>
    <h2>Votes and party alignment</h2>
    {% style_df person.rebellion_rate_df "Party alignment" %}
{% endblock content.inner %}

{% block extracss %}
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
{% endblock extracss %}

{% block extrajs %}
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function() {
            $('table').DataTable({
                paging: false
            });
        });
    </script>
{% endblock extrajs %}
