{% extends "base.html" %}

{% block content %}
    <h1>{{ item.details.chamber.name }} - {{ item.details.date }} - {{ item.details.decision_ref }}</h1>
    <h2>{{ item.details.division_name|safe }}</h2>
    <p>
        <a href="{{ item.details.twfy_link }}">View agreement in TheyWorkForYou</a>
    </p>
    <h2>Analysis</h2>
    <p style="font-style:italic">Analysis results are experimental.</p>
    {% if item.details.vote_motion_analysis %}
        <h3>Vote type</h3>
        <p>{{ item.details.vote_type() }}</p>
        <p style="font-style:italic">
            Motion analysis is based on keywords within the identified motion. Errors usually
            usually in favour of a significant motion type.
        </p>
    </p>
{% endif %}
<h3>Use of parliamentary powers</h3>
{% with powers = item.details.motion_uses_powers() %}
    {% if powers == "uses_powers" %}
        <p>Yes. Automated analysis suggests this decision relates to Parliamentary powers.</p>
    {% elif powers == "does_not_use_powers" %}
        <p>No. Automated analysis suggests this decision does not relate to Parliamentary powers.</p>
    {% elif powers == "insufficent_info" %}
        <p>Insufficent information based on motion avaliable.</p>
    {% endif %}
    <p style="font-style:italic">
        Analysis of use of powers is based on motions - if motion misidentified, this is wrong.
    </p>
{% endwith %}
{% if item.details.vote_motion_analysis %}
    <h2>Reduced motion</h2>
    <p>{{ item.details.vote_motion_analysis.tidied_motion }}</p>
    {% with twfy_link = item.details.vote_motion_analysis.twfy_motion_url() %}
        {% if twfy_link %}
            <p>
                <a href="{{ twfy_link }}">View motion in TheyWorkForYou</a>
            </p>
        {% endif %}
    {% endwith %}
    <h2>More motion options</h2>
    <button data-bs-toggle="collapse" data-bs-target="#extracted-question">Extracted question</button>
    <div id="extracted-question" class="collapse ">{{ item.details.vote_motion_analysis.question|safe }}</div>
    <button data-bs-toggle="collapse" data-bs-target="#full-motion">Full motion speech</button>
    <div id="full-motion" class="collapse ">{{ item.details.vote_motion_analysis.full_motion_speech|safe }}</div>
{% endif %}
<h2>Voting list</h2>
<p>
    Note: Agreements are not recorded against individuals. The following is a list of people who were {{
    item.details.chamber.member_name }} at the time
    this decision was agreed.
</p>
{{ item.votes_df(request) |safe }}
{% endblock content %}
