{% extends "base.html" %}

{% block title %}{{ settings.site_name }}{% endblock %}

{% block content %}
    <h1>{{ item.person.name }}</h1>
    <p>Being compared with {{ item.comparison_party }} in {{ item.chamber.name }}</p>
    <p>This list contains candidate policies that have not been finalised for feeding into TheyWorkForYou.</p>
    {% for group in item.display_groups() %}
        {% if group.links|length > 0 %}
            <h2>{{ group.name }}</h2>
            {{ group.as_df(request) | safe }}
        {% endif %}
    {% endfor %}
{% endblock content %}
