<nav class="navbar navbar-expand-sm bg-green-100">
    <div class="container">
        {% if not request.resolver_match.url_name == 'home' %}
            <a class="navbar-brand"
               href="{% url 'home' %}"
               aria-label="TheyWorkForYou Votes">TheyWorkForYou Votes</a>
        {% endif %}
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto flex-wrap justify-content-end">

                {% include 'votes/includes/nav-item.html' with name='decisions' label='Decisions' %}
                {% include 'votes/includes/nav-item.html' with name='people' label='People' url_param='all' %}
                {% include 'votes/includes/nav-item.html' with name='policies' label='Policies' %}
                {% if user.is_authenticated %}

                    {% include 'votes/includes/nav-item.html' with name='my_account' label='Account' %}
                {% else %}

                    {% include 'votes/includes/nav-item.html' with name='login' label='Sign in' %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
