.main-content {
    background: #fff;

    @include media-breakpoint-up('lg') {
        background-position: 100% 70%;
        background-size: auto 180%;
    }

    @include media-breakpoint-up('xl') {
        background-position: 80% 70%;
    }

    .row> :first-child {
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 85%, rgba(255, 255, 255, 0) 100%)
    }

    .row>a {
        text-decoration: none;
        color: inherit;
    }

    .filter {
        min-width: 80%;
        margin-bottom: 1.5rem;
    }

    .filter__header {
        display: flex;

        h6 {
            margin-bottom: 0;
            margin-right: auto;
        }

        .btn-close {
            margin-left: map-get($spacers, 2);
            flex-shrink: 0;
        }
    }

    .filter__body {
        display: flex;
        margin-left: (map-get($spacers, 3) * -1);

        &>* {
            margin-top: map-get($spacers, 3);
            margin-left: map-get($spacers, 3);
        }
    }
}

.motion_type {
    font-weight: bold;
}



li.decision-type-agreement::marker {
    content: "🟣 ";
}

li.decision-type-division::marker {
    content: "🟡 ";
}

li.statement-type-proposed_motion::marker {
    content: "🟢 ";
}

li.statement-type-negative_si_request::marker {
    content: "🟠 ";
}

li.statement-type-proposed_amendment::marker {
    content: "🔵 ";
}

li.statement-type-letter::marker {
    content: "📄 ";
}

li.statement-type-other::marker {
    content: "⚪ ";
}




.decision-year-list ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
    margin: 0;
    justify-content: flex-start;

}

.decision-year-list li {
    margin-right: 10px;
    width: 10%;
    text-align: center;
}

.motion_text {
    line-height: 1.6;
    border-left: 4px solid #0078d7;
    background-color: #f9f9f9;
    color: #333;
    text-align: justify;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 15px 15px 10px 20px;
}

$medium-screen: 768px;
$primary-color: #0078d7;
$mysoc-badge-mobile-width: 55px;
$mysoc-badge-desktop-width: 80px;
$badge-horizontal-shadow-mobile: 15px;
$badge-horizontal-shadow-desktop: -8px;

.site-nav .site-nav__general ul {
    left: $mysoc-badge-mobile-width;

    @media (min-width: $medium-screen) {
        margin-left: $mysoc-badge-desktop-width - 10px;
    }
}



#mysociety-badge {
    position: absolute;
    display: block;
    top: 0;
    left: $badge-horizontal-shadow-mobile; // Align with container
    width: $mysoc-badge-mobile-width;
    z-index: 1;

    img {
        width: 100%;
        height: auto;
    }

    .badge-desktop {
        display: none;
    }

    @media (min-width: $medium-screen) {
        width: $mysoc-badge-desktop-width;
        left: $badge-horizontal-shadow-desktop; // Align with container

        .badge-mobile {
            display: none;
        }

        .badge-desktop {
            display: block;
            margin-left: 50px;
        }
    }
}